certifi==2021.5.30
cffi
cycler
Cython==0.29.36
dataclasses
decorator==4.4.2
ExifRead==3.0.0
future
imageio==2.15.0
kiwisolver
lmdb==1.7.5
matplotlib
networkx==2.5.1
numpy
olefile
opencv-python==4.12.0.88
packaging==21.3
Pillow
protobuf==4.21.0
pycparser
pyparsing
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil
PyWavelets==1.1.1
PyYAML==6.0.1
scikit-image==0.17.2
scikit-video==1.1.11
scipy==1.5.4
six
tensorboardX==2.6.2.2
tifffile==2020.9.3
torch==1.10.1
torchinterp1d @ git+https://github.com/aliutkus/torchinterp1d.git@4e7533dce96edf4aa4549bc75cf532d9e782befb
torchvision==0.11.2
tornado
typing_extensions